---
layout: default
permalink: /residency/
title: Residency
---

<section class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Residencies</h1>
<p>Quisque nisi. Suspendisse id risus nec nisi ultrices ornare. Donec eget
tellus. Nullam molestie placerat felis. Aenean facilisis. Nunc erat. Integer in
tellus. Mauris volutpat, neque vel ornare porttitor, dolor nisi sagittis dolor,
sit amet bibendum orci leo blandit lacus.</p>

<p>In id velit sodales arcu iaculis venenatis. Etiam at leo. Vivamus vitae sem.
Mauris volutpat congue risus. Curabitur leo. Aenean tempor tortor.</p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Past Residencies</h1>
<p>Erat nunc, posuere sed, auctor quis, pulvinar quis, mi. Mauris at est.
Phasellus lacinia eros in arcu. Maecenas lobortis, tellus vel gravida
tincidunt, elit erat suscipit arcu, in varius erat risus.</p>

        </div>
    </div>

    {% for post in site.categories.residency %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
        {% if forloop.first %}
        <div class="row">
            <div class="col-md-4">
                <h3>{{ this_year }}</h3>
            </div>
        </div>
        {% endif %}
        
        <div class="row">
            <div class="col-md-4">
                {% if post.image %}
                <img width=320 src="{{ site.baseurl }}{{ post.image }}">
                {% endif %}
            </div>
            <div class="col-md-8">
                <a href="{{ site.baseurl }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
                <div class="post-date">{{ post.date | date_to_string }}</div>
                {{ post.excerpt }}
            </div>
        </div>
        {% unless forloop.last %}
            {% if this_year != next_year %}
            <div class="row">
                <div class="col-md-4">
                    <h3>{{ next_year }}</h3>
                </div>
            </div>
            {% endif %}
        {% endunless %}
    {% endfor %}
</section>

