<header class="container-fluid top-header">
    <div class="row top-logos">
        <div class="col-md-6">
            <a href="{{site.baseurl}}/">
                <img src="{{site.baseurl}}/assets/img/logo.png">
                <span class="h3">ArtScienceBLR</span>
            </a>
        </div>
        <div class="col-md-6 srishti-logo">
        </div>
    </div>
    <nav role='navigation'>
        <div id="menuToggle">
            <input type="checkbox" />

            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/events/">Events</a></li>
                <li><a href="{{ site.baseurl }}/workshops/">Workshops</a></li>
                <li><a href="{{ site.baseurl }}/residency/">Residency</a></li>
                <li><a href="{{ site.baseurl }}/tag/">Tag Cloud</a></li>
            </ul>
        </div>
    </nav>
    <nav id="sticky-nav" class="navbar navbar-expand-lg navbar-light bg-trans">
        <a id="brand" class="navbar-brand d-none" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/assets/img/logo.png">
          <!--<span class="h3">ArtScienceBLR</span>-->
        </a>
    </nav>  
</header>

