---
layout: default
---

<section class="event">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            <b>
            {% if page.event_date %}
                <!--{% include date.html date=page.event_date %} -->
                {{ page.event_date | date_to_long_string }}
            {% else %}
                {{ page.date | date_to_long_string }}
            {% endif %}
            </b>
            </div>
        </div>
        {% if page.image %}
        <div class="row">
            <div class="col-md-4"><img src="{{ site.baseurl }}{{ page.image }}"></div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">{{ content }}</div>
        </div>
    </div>
</section>

